@CHARSET "UTF-8";
.login_kuang{ position:absolute; left:0; top:0; width:300px; height:280px; padding-left:38px;
				background:white; }
.login_kuang h1{ font:16px/70px "微软雅黑", "黑体"; color:#37b5f9; width:270px;  text-align:left;}
input.login_txt1{ width:220px; height:28px; border:1px solid #dddddd; 
		 line-height:28px; padding-left:16px; color:#b1a9a9;  margin-bottom:10px; }
input.login_txt2{ width:220px; height:28px; border:1px solid #dddddd;
		 line-height:28px; padding-left:16px; color:#b1a9a9;  margin-bottom:30px; }
input.login_butt{width:220px; height:33px; background:#37b5f9; font-size:14px;
 line-height:33px; text-align:center; border:0px; color:#fff; border-radius:3px; cursor:pointer;}
