<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Hit_Circles</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>    
           org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getMyInformation</servlet-name>
    <servlet-class>com.servlet.getMyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMyInformation</servlet-name>
    <url-pattern>/getMyInformation.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNews</servlet-name>
    <servlet-class>com.servlet.getNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNews</servlet-name>
    <url-pattern>/getNews.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertTalk</servlet-name>
    <servlet-class>com.servlet.InsertTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTalk</servlet-name>
    <url-pattern>/InsertTalk.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTalks</servlet-name>
    <servlet-class>com.servlet.getTalks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTalks</servlet-name>
    <url-pattern>/getTalks.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setNewsComment</servlet-name>
    <servlet-class>com.servlet.setNewsComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setNewsComment</servlet-name>
    <url-pattern>/setNewsComment.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setTalksComment</servlet-name>
    <servlet-class>com.servlet.setTalksComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setTalksComment</servlet-name>
    <url-pattern>/setTalksComment.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNewsComment</servlet-name>
    <servlet-class>com.servlet.getNewsComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNewsComment</servlet-name>
    <url-pattern>/getNewsComment.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTalksComment</servlet-name>
    <servlet-class>com.servlet.getTalksComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTalksComment</servlet-name>
    <url-pattern>/getTalksComment.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FavoriteTalk</servlet-name>
    <servlet-class>com.servlet.FavoriteTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteTalk</servlet-name>
    <url-pattern>/FavoriteTalk.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FavoriteNews</servlet-name>
    <servlet-class>com.servlet.FavoriteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteNews</servlet-name>
    <url-pattern>/FavoriteNews.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getMyNews</servlet-name>
    <servlet-class>com.servlet.getMyNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMyNews</servlet-name>
    <url-pattern>/getMyNews.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getMyTalk</servlet-name>
    <servlet-class>com.servlet.getMyTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMyTalk</servlet-name>
    <url-pattern>/getMyTalk.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFavoriteTalks</servlet-name>
    <servlet-class>com.servlet.getFavoriteTalks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFavoriteTalks</servlet-name>
    <url-pattern>/getFavoriteTalks.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>com.servlet.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getMyfriend</servlet-name>
    <servlet-class>com.servlet.getMyfriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMyfriend</servlet-name>
    <url-pattern>/getMyfriend.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFriendinformation</servlet-name>
    <servlet-class>com.servlet.GetFriendinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriendinformation</servlet-name>
    <url-pattern>/GetFriendinformation.Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerachTalk_News</servlet-name>
    <servlet-class>com.servlet.SerachTalk_News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerachTalk_News</servlet-name>
    <url-pattern>/SerachTalk_News.Servlet</url-pattern>
  </servlet-mapping>
</web-app>